header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

header nav {
  padding-right: 40px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo p {
  color: MediumAquamarine;
}

nav span {
  display: inline-flex;
  justify-content: flex-end;
  padding: 20px 10px;
}

a {
  color: black;
}

div {
  border: 1px solid black;
}

.content {
  display: flex;
  position: absolute;
  margin: 80px 0px;
}

.large {
  width: 630px;
}

.medium {
  width: 300px;
}

.small {
  width: 240px;
}

.lead-story .img-content {
  background-image:url("img/img-story-main.png");
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

.img-content {
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
}

.fall-cancelled-image-content {
  background-image:url("img/img-story-2.png");
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.pop-culture-image-content {
  background-image:url("img/img-story-3.png");
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.cat-ceo-image-content {
  background-image:url("img/img-story-1.png");
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
